- if question.answers.empty?
  %h5= "No answers yet, be the first to add yours!"
- else
  %h5= "Add your answer..."

.row
  .col-lg-10
    = simple_form_for [question, Answer.new], :url=>question_answers_path(question) do |f|
      #in.row
        = f.text_area :text, class: ''
      #out
      .row
        .col-lg-2
          = f.submit 'Submit answer', :class => 'btn btn-primary'
