
= simple_form_for(@question) do |f|
  = f.error_notification
  .row
    .col-lg-10
      = f.input :title
  .row
    .col-lg-10
      = f.text_area :text, style:'height:8em' # 18em is oversized so the rte attached to #in can max out
  - if @question.topic
    .row
      .col-lg-10
        = text_field_tag :topic, "For topic: #{@question.topic.name}", :readonly=>''
        = f.hidden_field :topic_id, :value=>@question.topic.try(:id)
  .row
    .col-lg-10
      = f.input :tags do
        %span#tags{:style => "display:none;"}
          = Tag.all_tags.to_json
        = f.input :tags, as: :hidden, input_html: { class: 'select2-with-tags', style:'min-width:80%', value: f.object.tags.empty? ? '' : f.object.tags.join(',') }

  - if @question.new_record?
    .row
      .col-lg-8
        %h3= "Add an answer to this question (if ya gots one)..."
    %br/
    .row
      .col-lg-10
        = text_area_tag :answer_text, '', rows: "8", class: "form-control resizeable-textarea"

  .actions
    .row
      .col-lg-4.mt-2
        = f.submit 'Submit Question', :class => 'button expand btn btn-primary'
