- content_for(:post_body_js) do
  = javascript_include_tag "questions.js"
= simple_form_for(@question) do |f|
  = f.error_notification
  .row
    .large-10.columns
      = f.input :title
  .row
    .large-10.columns
      #in
        = f.text_area :text, input_html:{style:'height:18em'}
      #out
  - if @question.topic
    .row
      .large-10.columns
        = text_field_tag :topic, "For topic: #{@question.topic.name}", :readonly=>''
        = f.hidden_field :topic_id, :value=>@question.topic.try(:id)
  .row
    .large-10.columns
      = f.input :tags do
        %span#tags{:style => "display:none;"}
          = Tag.all_tags.to_json
        = f.input :tags, as: :hidden, input_html: { class: 'select2-with-tags', style:'min-width:80%', value: f.object.tags.empty? ? '' : f.object.tags.join(',') }

  .actions
    .row
      .columns.large-4
        = f.submit 'Submit Question', :class => 'button expand'
      .columns.large-4
        = simple_fields_for :notify do |ff|
          = ff.input :notify, :label=>'Post to hipchat', :as=>:boolean
      .columns.large-4
