- set_title "List of questions"


.row{:style=>'padding-top: 0.6em; padding-bottom: 0.35em;'}
  .columns.large-8
    %h3 #{image_tag '739-question@2x.png', :size=>'38x38'} Questions:
  .columns.large-4
    / Sort by [ latest | points ]<br/>

.row
  .columns.large-8
    - @questions.each do |question|
      .row
        .columns.large-12
          .panel.question_panel
            - if question.get_upvotes.size > 0
              .votebox
                = "+ #{question.get_upvotes.size}"
            .row
              .columns.large-9
                .question_title
                  = link_to "#{question.title}", question_path(question)
              .columns.large-3.text-right
                = render_avatar(question.creator, :size=>'28x28')
            .row
              .columns.large-9
                .question_answer
                  = raw HTML_Truncator.truncate( render_md(question.text).html_safe, 45)
            .row
              .columns.large-7
                %span.question_answer_links
                  = link_to(question_path(question)) do
                    = question.answers.count == 0 ? "No answers yet" : "#{question.answers.count} #{"answer".pluralize question.answers.count}"
                %span.answering_avatars
                  - question.uniq_answerers.each do |user|
                    = render_avatar( user, :size=>'28x28' )
              .columns.large-5.text-right
                .question_last_updated
                  Last updated<br/>
                  #{I18n.l(question.updated_at.to_date, :format => :medium)}
            .tags{:style=>'margin-top:0.8em;margin-bottom:-1.25em;'}
              = render_tag_links question.tags
    .row
      .columns
        = will_paginate @questions

  .columns.large-4
    .panel
      .h2= link_to "#{f_icon('arrow-left')} Ask a new question".html_safe, new_question_path
    .panel
      .h2 Popular questions
    .panel
      .h2 Popular tags
