
.row
  .columns.small-8
    %h2 Questions:
  .columns.small-4
    / Sort by [ latest | points ]<br/>

.row
  .columns.small-8
    - @questions.each do |question|
      .row
        .columns.small-12
          .panel
            .question_title
              = link_to "#{question.title}", question_path(question)
            = truncate( question.text.html_safe, :length=>200, :escape=>false)
            %div
              = "#{question.answers.count} answers"
            .tags{:style=>'margin-top:0.8em;margin-bottom:-1.25em;'}
              = render_tag_links question.tags
  .columns.small-4
    .panel
      .h2 Popular questions
    .panel
      .h2 Popular tags

