- set_title "#{Tenant.default_title}: #{@question.title}"

.row.my-3.border-bottom
  .col-lg-10
    %h1#question_title Q: #{best_in_place(@question, :title)}
  .col-lg-2{style: 'position:relative'}
    = archive_question(@question)

.row.question
  .col-lg-8.pl-5#question_body.question_content
    = find_and_preserve best_in_place_with_edit_icon(@question, :text, {:as=>'textarea', :raw=>true, :display_with=>lambda{ |content| render_md(content.to_s) }})
  .col-lg-4
    = render :partial=>'/shared/votes', :locals=>{:type=>'question', :object=>@question}
    = asked_by(@question)

.row.mb-5
  .col
    %span.has-tip{:'data-tooltip'=>'', :title=>'click to edit tags'}= link_to "Tags:", "javascript:alert('TODO: need tag editing here')"
    .tags_editor
      - if @question.tags.present?
        -# @question.tags.each do |tag|
        =# link_to tag, questions_path(:tag=>tag), :class=>"tiny button radius round"
        = render_tag_links(@question.tags)

.row.mb-5
  .col
    %h4.border-bottom #{pluralize @question.answers.size, "answer"}:
    = render :partial => '/answers/answer', :collection => @question.answers, :spacer_template=>'questions/answer_spacer' if @question && @question.answers.present?

.row
  .col
    = render :partial=>'add_answer', :locals=>{:question=>@question} unless @static_render
