
<div class='row for_header'>
  <div class='small-8 columns'><h1 class='title'><%= @question.title %></h1></div>
  <div class='small-3 small-offset-1 columns'>
    <div class="row">
      <%= @question.tags.join(", ") %>
      <%# TODO make tags links to question list for that tag %>
    </div>
    <div class="row">
      <%# TODO make this nicer, show avatar and clean this up %>
      <%= asked_by(@question) %>
    </div>
  </div>
</div>

<div class="row"><div class='columns'>&nbsp;</div></div>

<div class='row'>
  <div class='small-9 columns'>
    <%= render_md(@question.text) %>
  </div>
</div>
<hr/>

<%= render @question.answers %>
<%= render :partial=>'add_answer', :locals=>{:question=>@question} %>

<%= 15.times.map { "<br/>" }.join.html_safe %>
