
.row.for_header
  .columns.large-10
    %h1.title= @question.title
  .columns.large-2

.row.answer
  .columns.large-11
    = @question.text.html_safe
  .columns.large-1
    = f_icon "like"
    = "/"
    = f_icon "dislike"

.row{:style=>'margin-top:15px;'}
  .columns.large-6
    %span.has-tip{:'data-tooltip'=>'', :title=>'click to edit tags'}= link_to "Tags:", "javascript:alert('TODO: need tag editing here')"
    .tags
      - if @question.tags.present?
        - @question.tags.each do |tag|
          = link_to tag, questions_path(:tag=>tag), :class=>"tiny button radius round"
  .columns.large-2
    = link_to "Edit this question", "javascript:alert('TODO: inline editing')"
  .columns.large-4
    = asked_by(@question)

%h4
  %b #{@question.answers.size} answers:
%hr
= render @question.answers
= render :partial=>'add_answer', :locals=>{:question=>@question}

