
= simple_form_for(@topic) do |f|
  = f.error_notification
  .row.mt-4
    .col-lg-7
      .row
        .col-lg-6
          = f.input :name, placeholder:'A name for your topic'
        .col-lg-6
          = f.input :parent_topic_id, collection: Topic.topic_select, :selected=>@topic.parent_topic_id, :include_blank=>true, :hint=>'Leave blank to make a root topic', input_html: {style:'min-width:100%;', class:'select2'}
      .row
        .col-lg-12
          = f.input :description, placeholder: 'A short description'
      .row
        .col-lg-12
          = f.input :tags do
            %span{:id=>'tags', :style=>'display:none;'}= Tag.all_tags.to_json
            = f.input :tags, :as=>:hidden, input_html: {class:'select2-with-tags', style:'min-width:100%; height:36px;', value: f.object.tags.empty? ? '' : f.object.tags.join(',')}
    .col-lg-5
      .row
        = render :file=>'/topic_files/index' unless @topic.new_record?

  .row
    .col-lg-12
      #react-markdown-editor

  .row
    .col-lg-10
      #in
        = f.text_area :content, class: "form-control resizeable-textarea", rows: "10"
      #out
  .actions
    .row
      .col-lg-4.mt-2
        = f.submit "Save", class: 'btn btn-primary'
    .row
      .col-lg-4.markdown_tip.right
        = link_to "Github flavored markdown.", "https://guides.github.com/features/mastering-markdown/", target: "_blank"


= javascript_pack_tag :markdown_editor
