
= simple_form_for(@topic, :html=>{:id=>'primary_form'}) do |f|
  - f.error_notification
  .row
    .large-4.columns
      = f.input :name, placeholder:'A name for your topic'
    .large-8.columns
      = f.input :parent_topic_id, collection: Topic.topic_select, :selected=>@topic.parent_topic_id, :include_blank=>true, :hint=>'Leave blank to make a root topic', input_html: {style:'min-width:50%', class:'select2'}
  .row
    .large-8.columns
      = f.input :description
  .row
    .large-8.columns
      = f.input :tags, collection: Tag.all.map {|t| [t.name, t.name]}, input_html: {multiple:true, class:'select2', style:'min-width:50%'}
  .row
    %br/
    .large-12.columns
      #in{style: "height: 25em; min-height:25em;"}
        = f.text_area :content
      #out{style: "min-height: 20em;"}
  .actions
    = yield :form_nav
    = f.submit "Save", :class => 'button has-tip', :title=>'Tip: CMD-s saves when in the editor!', :data=>{:tooltip=>""}

- content_for :post_body_js do
  = javascript_tag do
    $(function() {
    $('.CodeMirror').css({'height': '25em'});
    });
