
<%= simple_form_for(@topic) do |f| %>
  <% f.error_notification %>

  <div class='row'>
    <div class='large-4 columns'>
      <%= f.input :name, placeholder:'A name for your topic' %>
    </div>
    
    <div class='large-8 columns'>
      <%= f.input :parent_topic, collection: Topic.topic_select, input_html: {style:'min-width:50%', class:'select2'} %>
    </div>
  </div>

  <div class='row'>
    <div class='large-8 columns'>
      <%= f.input :description %>
    </div>
  </div>

  <div class='row'>
    <div class='large-8 columns'>
      <%= f.input :tags, collection: Tag.all.map {|t| [t.name, t.name]}, input_html: {multiple:true, class:'select2', style:'min-width:50%'} %>
    </div>
  </div>

  <div class='row'>
    <br/>
    <div class='large-12 columns'>
      <div id='in' style="height: 25em; min-height:25em;">
        <%= f.text_area :content %>
      </div>
      <div id='out' style="min-height: 20em;">
      </div>
    </div>
  </div>

  <div class="actions">
    <%= yield :form_nav %>
    <%= f.submit "Save", :class => 'button' %>
  </div>
<% end %>

<% content_for :post_body_js do %>
  <%= javascript_tag do %>
    $(function() {
      $('.CodeMirror').css({'height': '25em'});
    });
  <% end %>
<% end %>
