- content_for(:post_body_js) do
  = javascript_include_tag "topics.js"

= simple_form_for(@topic) do |f|
  - f.error_notification
  .row
    .column.large-7
      .row
        .columns.large-6
          = f.input :name, placeholder:'A name for your topic'
        .columns.large-6
          = f.input :parent_topic_id, collection: Topic.topic_select, :selected=>@topic.parent_topic_id, :include_blank=>true, :hint=>'Leave blank to make a root topic', input_html: {style:'min-width:100%;', class:'select2'}
      .row
        .large-12.columns
          = f.input :description, placeholder: 'A short description'
      .row
        .large-12.columns
          = f.input :tags do
            %span{:id=>'tags', :style=>'display:none;'}= Tag.all_tags.to_json
            = f.input :tags, :as=>:hidden, input_html: {class:'select2-with-tags', style:'min-width:100%; height:36px;', value: f.object.tags.empty? ? '' : f.object.tags.join(',')}
    .column.large-5
      .row
        = render :file=>'/topic_files/index'
  .row
    %br/
    .large-12.columns
      #in{style: "height: 25em; min-height:25em;"}
        = f.text_area :content
      #out{style: "min-height: 20em;"}
  .actions
    = yield :form_nav
    = f.submit "Save", :class => 'button has-tip', :title=>'Tip: CMD-s saves when in the editor!', :data=>{:tooltip=>""}

