-# @static_render needs to disable cache for rendering in that context
- cache(['topics/index', @topics_cache_key]) do
  - set_title "#{Tenant.default_title}: All topics"

  .row.pt-3.pb-2
    .col
      %h2= (Tenant.current && Tenant.current.settings(:topic).heading) || "Topics"
    .col
      = form_tag searches_path, :method=>:get, class: 'form-inline' do
        = search_field_tag :q, "", class: 'form-control mr-sm-2'
        = button_tag class: "btn btn-outline-secondary" do
          %i.fas.fa-search
          filter
    .col
      = link_to 'Create new Topic', new_topic_path, :class=>'btn btn-primary'
      -# .text-muted sort by date, popularity, filter by category, by user

  .row.p-3
    .col
      .card-columns.topic-card-area
        - @topics.each do |topic|
          .card.topic-card.bg-light
            .icon_drop_target.topic_icon{id: "topic_icon_#{topic.id}", url: set_icon_topic_path(topic)}= link_to image_tag(topic.icon.url(:thumb), class: "topic-card-image card-img-top"), topic_path(topic)
            
            .card-body
              .card-title
                %h5
                  = link_to topic.name, topic_path(topic)
                = link_to "#{f_icon('x-circle', :color=>'#C66')}".html_safe, topic, :class=>"delete_topic", method: :delete, data: { confirm: 'Are you sure?' } if (current_user && current_user.admin?) && !@static_render
    
              .card-text
                - if topic.description.present?
                  = truncate topic.description, length: 80*5
                - elsif !@static_render
                  = link_to edit_topic_path(topic) do
                    No description
            %ul.list-group.list-group-flush
              %li.list-group-item.list-group-item-light
                - if topic.sub_topics.present?
                  = "#{pluralize topic.descendants.count, 'subtopic'}"
                - else
                  No subtopics. needs to move?
    
- unless @static_render
  .row
    .col-lg-8
      = will_paginate(@topics) if @topic.respond_to?(:total_pages)
    .col

