<h1>Listing topics</h1>

<table>
  <thead>
    <tr>
      <th>name</th>
      <th>content</th>
      <th>tags</th>
      <th>subtopics</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.name, edit_topic_path(topic) %></td>  
        <td><%= topic.content %></td>  
        <td><%= topic.tags.join(', ') %></td>  
        <td><%= topic.sub_topics.map { |t| link_to t.name, edit_topic_path(t) }.join(', ').html_safe %></td>  
        <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create new Topic', new_topic_path %>

<p>if you're an admin, or the owner of a resource (topic) then you can edit and delete them</p>
<p>logged in users can edit anything (wiki)</p>
<p>guest users can see public topics, but cannot edit anything and may not see private topics.</p>

