-# @static_render needs to disable cache for rendering in that context
- cache(['topics/index', @topics_cache_key]) do
  - set_title "#{Tenant.default_title}: All topics"

.row.pt-3.pb-2
  .col
    %h2= (Tenant.current && Tenant.current.settings(:topic).heading) || "Topics"
  .col
    = form_tag searches_path, :method=>:get, class: 'form-inline' do
      = search_field_tag :q, "", class: 'form-control mr-sm-2'
      = button_tag class: "btn btn-outline-secondary" do
        %i.fas.fa-search
        filter
  .col.text-right
    = link_to 'Create new Topic', new_topic_path, :class=>'btn btn-primary'
    -# .text-muted sort by date, popularity, filter by category, by user

.row
  .col-1
    Filters go here:

  .col-11
    .topic-card-container
      - @topics.each do |topic|
        .card
          .topic-image
            .icon_drop_target.topic_icon{id: "topic_icon_#{topic.id}", url: set_icon_topic_path(topic)}= link_to image_tag(topic.icon.url(:thumb), class: "border border-dark rounded"), topic_path(topic)
              
            %center.mt-2
              - if topic.sub_topics.present?
                .text-muted= "#{pluralize topic.descendants.count, 'subtopic'}"
              - else
                .text-muted{title:"0 subtopics"} 0 subtopics
            
          .topic-body
            .card-title
              = link_to "#{f_icon('times-circle', :color=>'#C66')}".html_safe, topic, :class=>"delete_topic", method: :delete, data: { confirm: 'Are you sure?' } if (current_user && current_user.admin?) && !@static_render
              %h5
                = link_to topic.name, topic_path(topic), {style:'', title:topic.name}

            .card-text
              - if topic.description.present?
                = truncate topic.description, length: 80*5
              - elsif !@static_render
                = link_to edit_topic_path(topic) do
                  No description


    - unless @static_render
      .row
        .col-lg-8
          = will_paginate(@topics) if @topic.respond_to?(:total_pages)
        .col

