- cache @topic do
  - set_title "#{Tenant.default_title}: #{@topic.name}"
  - html, toc = render_md @topic.content, with_toc: true

  .row
    .col-lg-3
      - if toc.present?
        = render partial: 'toc', locals: { toc: toc }
      
      .card.topic-card.mb-3
        .card-body.pb-0
          .card-title.pb-0
            %h5 Sub-topics
        %ul.list-group.list-group-flush
          - @topic.sub_topics.each do |sub|
            %li.list-group-item.pb-1.pt-1= link_to sub.name, topic_path(sub)
        .card-body
          = link_to "<i class='fas fa-plus-circle'></i> Add Sub-topic".html_safe, new_topic_path(:parent_topic_id=>@topic.id) unless @static_render

      - unless @static_render
        .card.topic-card.mb-3
          .card-body
            .card-title     
              %h5 Tags
            .card-text
              - if @topic.tags.size > 0
                = render_tag_links @topic.tags
              - else
                %p No tags for this topic

        .card.topic-card.mb-3
          .card-body
            .card-title 
              %h5 Questions
            .card-text
            - @topic.questions.each do |question|
              %p= link_to question.title, question_path(question)
            = link_to "<i class='fas fa-question-circle'></i> Ask Related Question".html_safe, new_question_path(:topic_id=>@topic.id)

      - unless @static_render
        = link_to "#{f_icon('fas','pencil-alt')} Edit Topic".html_safe, edit_topic_path(@topic), :class=>'btn btn-primary btn-sm btn-block'
      
        = link_to "#{f_icon('fas','times-circle')} Delete Topic".html_safe, topic_path(@topic), method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-primary btn-sm btn-block btn-warning' if current_user.admin? || @topic.creator == current_user

      .card.topic-card.mt-3
        .card-body
          .card-title 
            %h5 History
          .card-text
            = render partial: 'topics/history', locals: { topic: @topic }

    .col-lg-9
      = render "topics/topic_breadcrumb"
      %h1{:style=>'border-bottom: 1px solid silver; font-size: 275%;'}
        %b= @topic.name
      %i= @topic.description
      .topic_content
        = html
  
  -# %div#history_popup.reveal-modal{:'data-reveal' => ''}
  -#   %h2 title
  -#   %p some text
  -#   %a.close-reveal-modal &#215;
  
