- set_title "Q: #{@topic.name}"

.row<
  .columns.large-9<
    = render "topic_breadcrumb"
  .columns.large-3
    = link_to "#{f_icon('pencil')} Edit Topic".html_safe, edit_topic_path(@topic), :class=>'button small radius expand'


  .columns.large-9<
    %h1{:style=>'border-bottom: 1px solid silver; font-size: 275%;'}
      %b= @topic.name
    %i= @topic.description
    .topic_content<
      - html, toc = render_md @topic.content
      = html

  .columns.large-3
    - if toc.present?
      .panel
        .panel_title Contents
        %ul.panel_list
          - toc.each do |anchor|
            %li= link_to anchor[0], anchor[1]
    .panel
      .panel_title Sub-topics
      %ul.panel_list
        - @topic.sub_topics.each do |sub|
          %li= link_to sub.name, topic_path(sub)
      .row_divider
      .panel_offset_link= link_to "Add Sub-topic", new_topic_path(:parent_topic_id=>@topic.id)
    .panel
      .panel_title Links/files
    .panel
      .panel_title Quizzes
      How well do you know the topic?
    .panel
      .panel_title{:style=>'margin-bottom:8px;'} Tags
      = render_tag_links @topic.tags
    .panel
      .panel_title Questions
      - @topic.questions.each do |question|
        %p= link_to question.title, question_path(question)
      .row_divider
      .panel_offset_link= link_to "Ask Related Question", new_question_path(:topic_id=>@topic.id)
    .panel
      .panel_title Contributors / history
