
- activities.each do |activity|
  :ruby
    trackable = activity[1].first[:obj].trackable
    str = case trackable
          when Topic
            link_to trackable.to_s, topic_path(trackable)
          when Question
            link_to trackable.to_s, question_path(trackable)
          when Answer
            link_to trackable.to_s, question_path(trackable.question)
          end
  - next if trackable.nil?
  .panel
    = "#{trackable.class.to_s}: " # 2nd is the id of the topic
    = str
            
    - act = activity[1].map {|a| { a[:key].split('.').last => a[:owner].name } }
    - act = act.inject({}) {|m,o| m[o.keys.first] ||= []; m[o.keys.first] << o.values.first; m}
    - if act["update"]
      %div= "Updated by #{act["update"].uniq.join(', ')}"
    - elsif act["create"]
      %div= "Created by #{act["create"].uniq.join(', ')}"
    - if act["delete"]
      %div= "Deleted by #{act["delete"].uniq.join(', ')}"
    = trackable && "#{time_ago_in_words trackable.updated_at} ago"
