
<div class="dz-preview dz-file-preview">
  <div class="dz-details">
    <div class="dz-filename"><%= preview.asset_file_name %><span data-dz-name></span></div>
    <div class="dz-size" data-dz-size><%= number_to_human_size preview.asset_file_size %></div>
    <img data-dz-thumbnail src="<%= preview.preview_url %>" data-orig="<%= preview.asset.url %>" data-filename="<%= preview.asset_file_name %>"/>
  </div>
</div>
