.row
  &nbsp;
  TODO: add resend-confirmation.  disable active user, toggle admin bit.
.row
  .columns.small-12
    %table
      %thead
        %th id / uid
        %th provider
        %th avatar
        %th name
        %th email
        %th tenant_id
        %th sign in count
        %th created at
        %th confirmed at
        %th admin? approved? active?
      %tfoot
        %tr
          %td{:colspan=>15}= will_paginate @users
      %tbody
        - @users.each do |user|
          %tr
            - ( [["id", "uid"], "provider" ] + [ Proc.new {|u| render_gravatar(user) } ] + %w[name email tenant_id sign_in_count created_at confirmed_at] + [ Proc.new {|u| %w[admin? approved active].map {|f| "#{u.send(f) ? f_icon("check", :color => 'green') : f_icon("x", :color=>'red') } #{f}" }.join("<br/>").html_safe } ] ).each do |field|
              %td
                - if field.respond_to?(:call)
                  = field.call(user)
                - else
                  = Array(field).map { |f| user.send(f) }.join("\n")
