
- content_for(:head_stylesheet) do
  = javascript_include_tag "video-js/video.js"
  = stylesheet_link_tag "video-js/video-js.css"

%h2= @video.name

- expiry = 180.minutes
- poster_attr = "poster: #{@video.asset.expiring_url(expiry, :thumb)}"

.row
  .large-8.columns.small-12
    .flex-video
      %video.video-js.vjs-default-skin{controls:'', preload:"auto", width:"640", height:"264"}
        %source{src: @video.asset.expiring_url(expiry, :mp4), type: 'video/mp4'}
        %source{src: @video.asset.expiring_url(expiry, :webm), type: 'video/webm'}
        %p.vjs-no-js
          To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
  .large-4.columns.small-12
    .panel
      / TODO:
      / %ul
      /   %li comments
      /   %li links
      /   %li tags, categories
      - if @video.asset.exists?
        %h4
          .download_video= link_to  "Download video", @video.expiring_download_url(expires: expiry, style: :mp4)
        %hr
      - if @video.video_attachments.present?
        %h4 Related files:
        - @video.video_attachments.each do |att|
          %div
            = link_to att.name.presence || "No name", att.asset.expiring_url(expiry)
      - else
        %h5 No related files uploaded yet

      %hr
      = form_for @video_attachment, url: video_video_attachments_path(@video, @video_attachment), multipart: true do |f|
        = label_tag do
          Name or description *:
          = f.text_field :name
        = f.file_field :asset
        = f.submit "Upload file"

