- if current_user
  = object.get_upvotes.size if object.get_upvotes.size > 0
  = link_to votes_path(:id=>object.id, :type=>local_assigns[:type], :vote=>:upvote), :remote=>true, :method=>:post, :class=>"vote #{"voted" if current_user.voted_up_on?(object) }", :id=>dom_id(object, 'up') do
    = f_icon("like")
  \/
  = link_to votes_path(:id=>object.id, :type=>local_assigns[:type], :vote=>:downvote), :remote=>true, :method=>:post, :class=>"vote #{"voted" if current_user.voted_down_on?(object) }", :id=>dom_id(object, 'down') do
    = f_icon "dislike"
  = object.get_downvotes.size if object.get_downvotes.size > 0
