
.row{:id=>"answer_#{answer.id}"}
  .small-8.columns
    = archive_answer(answer)
    = find_and_preserve best_in_place_with_edit_icon(answer, :text, {:as=>:textarea, :raw=>true, :display_with=>lambda { |content| render_md(content.to_s)}, :url=>question_answer_url(answer.question, answer) } )
  .small-3.columns
    = answered_by(answer)
  .small-1.columns= render :partial=>'/shared/votes', :locals=>{:type=>'answer', :object=>answer}
