%br

%p
  Here are users that have requested accounts.   Approve the user and they will receive a confirmation email.  Reject and they will get a rejection email.
%table
  %thead
    %tr
      %th email
      %th name
      %th ip
      %th requested at
      %th approve
      %th active?
      %th Reject
  %tbody
    - if @users.empty?
      %tr
        %td
          No users awaiting approval!
    - else
      - @users.each do |user|
        %tr
          %td= user.email
          %td= user.name
          %td
          %td= user.created_at
          %td
            = link_to f_icon('check', :style=>'color:green;font-size:2em'), approve_approve_user_path(user), {:title=>'click to approve this user', :method=>:post}
          %td
            = user.active? ? f_icon('check') : f_icon('x')
          %td
            = link_to f_icon('x', :style=>'color:red; font-size:2em'), reject_approve_user_path(user), {:title=>'click to reject this user', :data=>{:confirm=>"Are You Sure?  Reject this user?"}, :method=>:post}
