
.row
  .columns.large-6
    .panel.width_6
      %h2 Popular Topics
      %ul
        - top[:topics] && top[:topics].each do |props|
          %li
            = link_to props[:title], topic_path(props[:id])
            = props[:view_count]

  .columns.large-6
    .panel.width_6
      %h2 Top Q&amp;A
      %ul
        - top[:qna] && top[:qna].each do |props|
          %li
            = link_to "#{props[:title]}", question_path(props[:id])
            = props[:view_count]
.row
  .columns.large-6
    .panel.width_6
      %h2
        Top Search Terms
        %div.small-font Last 8 weeks
      %ul
        - top[:searches] && top[:searches].each do |props|
          %li
            = link_to "#{props[:normalized_query]}", searches_path(q: props[:normalized_query])
            = props[:view_count]

  .columns.large-6
    .panel.width_6
      %h2 Top Videos
      %ul
        - top[:videos] && top[:videos].each do |props|
          %li
            = link_to "#{props[:title]}", video_path(props[:id])
            = props[:view_count]


