
.row
  .col-lg-6
    .card.popular_list.card-lists
      .card-body
        .card-header
          %h5.card-title Popular Topics
        %ul.list-group
          = cache top[:topics] do
            - top[:topics] && top[:topics].each do |props|
              %li.list-group-item.list-group-flush
                = link_to props[:title], topic_path(props[:id])
                = props[:view_count]

  .col-lg-6
    .card.popular_list.card-lists
      .card-body
        .card-header
          %h5.card-title Top Q&amp;A
        %ul.list-group
          - top[:qna] && top[:qna].each do |props|
            %li.list-group-item.list-group-flush
              = link_to "#{props[:title]}", question_path(props[:id])
              = props[:view_count]
.row
  .col-lg-6
    .card.popular_list.card-lists
      .card-body
        .card-header
          %h5.card-title Top Search Terms
        %ul.list-group
          %li.list-group-item.list-group-flush Last 8 weeks
        %ul.list-group
          - top[:searches] && top[:searches].each do |props|
            %li.list-group-item.list-group-flush
              = link_to "#{props[:normalized_query]}", searches_path(q: props[:normalized_query])
              = props[:view_count]

  .col-lg-6
    .card.popular_list.card-lists
      .card-body
        .card-header
          %h5.card-title Top Videos
        %ul.list-group
          - top[:videos] && top[:videos].each do |props|
            %li.list-group-item.list-group-flush
              = link_to "#{props[:title]}", video_path(props[:id])
              = props[:view_count]
