- unless SiteNews.count == 0  || (last_seen = current_user.settings(:preference).site_news) && (SiteNews.latest.last && SiteNews.latest.last.created_at < last_seen)
  .row{:'data-alert'=>'', :'data-href'=>settings_path('site_news')}
    .columns.small-12
      .panel.callout.radius
        %a{:href=>"#", :class=>"close"}
        %h3{:style=>'font-family: monospace'} #{image_tag "844-trumpet-selected@2x.png", :size=>'30x30'} Site news:

        - SiteNews.latest.each do |item|
          .titled-panel
            %h2.title
              = item.title
            .content
              %p= item.text.html_safe
            .created_at Posted by #{item.creator.try(:name) || "unknown"} at #{item.created_at}
