- set_title "#{Tenant.default_title} Home"

.row
  .col-lg
    =# render :partial=>"site_news"
    = render :partial=>'admin_panel' if current_user.admin?
.row
  .col-lg-8
    .row
      .col-lg
        = local_notes :fixed=>true, :default_title=>"Dev Central", :disable_admin=>true
    = render partial: 'popular_lists', locals: { top: @top }

  .col-lg-4
    = render partial: 'activities'
