.row
  &nbsp;

.row
  .columns.large-8
    = render :partial=>"site_news"
    = render :partial=>'admin_panel' if current_user.admin?
    .row
      .columns.large-12
        .panel
          %h2 Dev Central
          A bulletin board for all devs.  Announcements and important info.
    .row
      .columns.large-6
        .panel
          %h2 Welcome #{current_user.name}!
          / %p Last logged in at #{current_user.last_sign_in_at} (#{time_ago_in_words(current_user.last_sign_in_at)} ago) from #{current_user.last_sign_in_ip}
          %h3 Your Stats
          %ul
            %li
              - if n_asked = Question.asked_by(current_user).size
                = pluralize n_asked, 'question'
                asked.
              - else
                = link_to "No questions asked yet.", new_question_path
            %li
              - if n_answered = Answer.answered_by(current_user).size
                = pluralize n_asked, 'answer'
                asked.
              - else
                = link_to "No answers yet."
            - if Topic.created_by(current_user).size > 0
              %li
                Created #{pluralize Topic.created_by(current_user).size, "topic"}
            - if Topic.updated_by(current_user).size > 0
              %li
                Updated #{pluralize Topic.updated_by(current_user).size, "topic"}
            - if (count = current_user.votes.up.size) > 0
              %li
                = "#{count} total upvotes"
            - if (count = current_user.votes.down.size) > 0
              %li
                = "#{count} total downvotes"
      .columns.large-6
        .panel
          %p #{image_tag("739-question-selected@2x.png", :size=>"25x25")} Got a #{link_to "question? Ask here!", new_question_url}
          %p #{image_tag("787-browser-windows-selected@2x.png", :size=>"25x25")} See a #{link_to 'list of topics', topics_path} you can learn about or add knowledge to?

    .row
      .columns.large-12
        .panel
          %h2 Your notes
          %label
            search your notes:
            %input

    .row
      .columns.large-12
        .panel
          %h2 Dashboard
          / some sort of way to easily plug in links to dashboards or data sources

    /.row
    /  .columns.large-12
    /    .panel
    /      %h3 de Finibus Bonorum et Malorum
    /      %p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?

  .columns.large-4
    .panel
      %h3 #{image_tag "794-chart-selected@2x.png", :size=>'24x24'} Popular Topics
    .panel
      %h3 #{image_tag "832-stack-1-selected@2x.png", :size=>'24x24'} Popular Questions
    .panel
      %h3 #{f_icon('link', :style=>'font-size:1.2em')} Top links

    .panel
      %h3 Top users

    - if @collapsed_activities && @collapsed_activities.size > 0
      .panel
        %h3 #{image_tag "748-heart-selected@2x.png", :size=>"24x24"} Recent Activity
        = render :partial=>'/public_activity/index', :locals=>{:activities=>@collapsed_activities}
