.row
  &nbsp;

.row
  .columns.small-8
    .row
      .columns.small-6
        .panel
          %h2 Welcome #{current_user.name}!
          %p Last logged in at #{current_user.last_sign_in_at} (#{time_ago_in_words(current_user.last_sign_in_at)} ago) from #{current_user.last_sign_in_ip}
      .columns.small-6
        .panel
          %p #{f_icon("puzzle", :size=>"1.5em")} Got a #{link_to "question? Ask here!", new_question_url}
          %p #{f_icon("page-multiple", :size=>"1.5em")} Want to see a #{link_to 'list of topics', topics_path} you can learn about or add knowledge to?

    = render :partial=>"site_news"
    - if current_user.admin?
      = render :partial=>'admin_panel'

    .row
      .columns.small-6
        .panel
          %h3 Your Stats
          %ul
            %li how many q's
            %li how many a's
            %li how many topics created, updated/contributed to

      .columns.small-6
        .panel
          %h3 TODO list
          %ul
            %li require approval by admin
            %li user avatars
            %li icons?
            %li company logo upload?
            %li= link_to 'TODO list', '/todo'

  .columns.small-4
    .panel
      %h3 Recent Activity
      = render_activity(@activities)

