
= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|

  - render_custom_text 'top' do |header, text|
    .row
      .large-8.large-centered.columns
        = text

  .row
    .col-lg-6
      .card
        .card-header
          %h3.card-title Login with Github OAuth
        .card-body
          %p If you have access to the Github repo for this organization, <strong>DO NOT</strong> use manual login.  Check your <strong>SPAM</strong> folder for the confirmation email for the final step.  Thanks!
        .card-body
          = link_to "Login with GitHub OAuth", user_github_omniauth_authorize_path, {:class=>'btn btn-primary stretched-link'}

  .row
    .col-lg-6
      .card
        .card-header
          %h5 Manual Login
        .card-body
          .form-group
            = f.input :email, :required => false, :autofocus => true
            = f.input :password, :required => false
            = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
        .card-footer
          = f.button :submit, "Login", :class=>'button'
    .large-2.columns


  - render_custom_text 'bottom' do |header, text|
    .row
      .large-8.large-centered.columns
        = text
.row
  .large-12.columns
    = render "devise/shared/links"

