.row
  .large-6.columns
    %h2 Sign in
    = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      .form-inputs
        = f.input :email, :required => false, :autofocus => true
        = f.input :password, :required => false
        = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
      .form-actions
        .row
          .large-6.columns
            = f.button :submit, "Sign in", :class=>'button'
          .large-6.columns
            = link_to "Login with GitHub", user_omniauth_authorize_path(:github), {:class=>'button'}
  /.large-6.columns
  /  %h2 Sign Up
  /  = link_to "create new TKN for your company TODO", new_tenant_path

.row
  .large-12.columns
    = render "devise/shared/links"

