
= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|

  - render_custom_text 'top' do |header, text|
    .row
      .large-8.large-centered.columns
        = text

  .row{:'data-equalizer'=>''}
    .large-6.columns{:'data-equalizer-watch'=>''}
      %h2 Login
      .form-inputs
        = f.input :email, :required => false, :autofocus => true
        = f.input :password, :required => false
        = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
      .row
        .large-4.columns.push-9
          = f.button :submit, "Login", :class=>'button'
    .large-2.columns{:'data-equalizer-watch'=>''}

      .xy_center OR
    .large-4.columns{:'data-equalizer-watch'=>''}
      %br
      .y_center
        = link_to "Login with GitHub Oauth", user_github_omniauth_authorize_path, {:class=>'button expand',:style=>'padding-left:5em;padding-right:5em;'}
        %div
          If you have access to the repo for this organization, <strong>DO NOT</strong> signup with the email/password on the left.  After the initial
          access through Github, check your <strong>SPAM</strong> folder for the confirmation email for the final step.  Thanks!
      %br

  - render_custom_text 'bottom' do |header, text|
    .row
      .large-8.large-centered.columns
        = text
.row
  .large-12.columns
    = render "devise/shared/links"

