.card.mb-5
  .card-header.pb-1
    %h4.mb-0.pb-0= link_to "#{result.class.to_s.underscore.capitalize}: #{result.title}", question_path(result)
  .card-body
    .row
      .order-2.order-sm-1.col-sm-9.col-md-9.col-lg-10
        = md_sanitized_snippet(result.text)

        %hr
        - if result.answers.size > 0
          #{pluralize(result.answers.size, 'answer')} from
          - result.uniq_answerers.each do |user|
            = render_avatar(user, :size=>:small)

      .order-1.order-sm-2.col-sm-3.col-md-3.col-lg-2
        .small_light_title #{render_avatar(result.creator, size: :small)} asked:
        .small= smart_display result.created_at

        .small_light_title Last updated:
        .small= smart_display(result.updated_at)

        = render_tag_links result.tags if result.respond_to?(:tags)

