.row
  .columns.large-8
    .search_result_title
      = link_to "#{result.class.to_s.underscore.capitalize}: #{result.title}", question_path(result)
    = truncate(result.text.html_safe, :length=>180, :separator=>' ')
  .columns.large-4
    .row
      .columns.large-6.right
        %p
          %div.small_light_title Last updated:<br/>
          %div.small= smart_display(result.updated_at)
      .columns.large-6.right
        %p
          %div.small_light_title Asked:<br/>
          %div.small= smart_display result.created_at
    .row
      = render_tag_links result.tags
.row
  .columns.large-8
    - if result.answers.size > 0
      Has #{pluralize(result.answers.size, 'answer')}.

