.row
  .columns.small-8
    .question_title
      = link_to "#{result.class.to_s.underscore.capitalize}: #{result.title}", question_path(result)
.row
  .columns.small-12
    = truncate(result.text.html_safe, :length=>180, :separator=>' ')
.row
  .columns.small-6
    = render_tag_links result.tags
  .columns.small-2
    /Written by #{result.creator.to_s}
  .columns.small-2.right
    %div{:style=>'font-size:0.8em; color:#999;'}Asked:<br/>
    %div{:style=>'font-size:0.9em;'}= smart_display result.created_at
  .columns.small-2.right
    %div{:style=>'font-size:0.8em; color:#999;'}Last updated:<br/>
    %div{:style=>'font-size:0.9em;'}= smart_display(result.updated_at)

