.row
  .columns.large-8
    = link_to topic_path(result) do
      .search_result_title
        %b Topic:
        #{result.name} - #{result.description}
      - if (content = result.excerpts.content).present?
        %p #{content.html_safe}
      - else
        %p #{truncate result.content, :length=>180, :separator=>' '}

  .columns.large-4
    %p
      .small_light_title Last updated at
      .small #{smart_display(result.updated_at)}
    %p #{render_tag_links result.tags}

/-# Additional meta-data about topics needed.  how many subtopics, how many stars, etc
/.row
/  .columns.large-2
/    /Written by #{result.creator.to_s}
/  .columns.large-4

