.row
  .columns.small-8
    %p description: #{result.description}
    %p #{truncate result.content, :length=>180, :separator=>' '}
  .columns.small-4
    %h5
      %b #{result.class.to_s.underscore.capitalize}: #{result.name}
-# Additional meta-data about topics needed.  how many subtopics, how many stars, etc
.row
  .columns.small-2
    Written by #{result.creator.to_s}
  .columns.small-4
    %p tags: #{result.tags.join(", ")}
  .columns.small-3
    = result.created_at
  .columns.small-3
    = result.updated_at

