
.card.mb-5
  .card-header.pb-1
    = link_to topic_path(result) do
      %h4.mb-0.pb-0 <b>Topic:</b> #{result.name} 
      #{result.description}
    .row
      .col
        #{render_tag_links result.tags}
      .col
        Last updated at #{smart_display(result.updated_at)}

  .card-body
    = md_sanitized_snippet(result.content)


/-# Additional meta-data about topics needed.  how many subtopics, how many stars, etc
/.row
/  .columns.large-2
/    /Written by #{result.creator.to_s}
/  .columns.large-4

