
%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.justify-content-between
  %a.navbar-brand{:href => "/"}= [current_tenant && current_tenant.name, Tenant.default_title].join(' ')
  %button.navbar-toggler{'data-toggle': "collapse", 'data-target': "#navbarSupportedContent", 'aria-controls': "navbarSupportedContent", 'aria-expanded': "false", 'aria-label': "Toggle navigation"}
    %span.navbar-toggler-icon

  - if user_signed_in?
    = form_tag searches_path, :method=>:get, class: 'form-inline' do
      = search_field_tag :q, "", class: 'form-control mr-sm-2'
      = button_tag class: "btn btn-primary" do
        %i.fas.fa-search 
        search

    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto.pr-2
        %li.nav-item= link_to "Topics", topics_path, class:'nav-link'
        %li.nav-item= link_to "Questions", questions_path, class:'nav-link'
        %li.nav-item= link_to "Videos", videos_path, class:'nav-link'
        %li.nav-item= link_to "YARD", docs_path, class:'nav-link'


        - if current_tenant && !@static_render
          - if user_signed_in?
            %li.nav-item.dropdown.pl-3
              %a#navbarDropdownMenuLink.nav-link.dropdown-toggle.avatar{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#"}
                = render_avatar(current_user, :size=>35)
              .dropdown-menu.dropdown-menu-right.pb-0{"aria-labelledby" => "navbarDropdownMenuLink"}
                %a.dropdown-item{:href => account_path} #{f_icon 'fas', 'user-circle'} Settings

                - if current_user && current_user.admin?
                  .card.border-warning.mt-3
                    %div.p-3.pb-0.text-warning #{f_icon 'fas', 'crown'} Admin Actions
                  
                    - num_of_users_awaiting_approval = (num = User.where(:approved=>false).count) > 0 ? "(#{num})" : ""
                    - [[admin_users_path, "Users"], [admin_approve_users_path, "Users awaiting approval #{num_of_users_awaiting_approval}"], [admin_analytics_path, 'Analytics'], [admin_config_index_path, "Site Config"]].each do |path, str|
                      - if current_page?(path)
                        = link_to(str, path, class:'dropdown-item')
                      - else
                        = link_to(str, path, class:'dropdown-item')


                = link_to "Sign Out", destroy_user_session_path, {:method=>:delete, :class=>'btn btn-info btn-block mt-2 mb-0'}
          - else
            = link_to "Sign in/Sign up", new_user_session_path, {:class=>'btn btn-info'}
        
      -# - if user_signed_in? # no user if generating static docs from site
      -#   .nav
      -#     = current_user && link_to(account_path, :class=>'nav_avatar') do
      -#       .navbar-nav.navbar-right.px-1
      -#         %li.avatar
      -#           = render_avatar(current_user, :size=>43)

= javascript_include_tag "autocomplete"

