

<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1>
        <a href="/">
          <%= [current_tenant && current_tenant.name, "<b style='color:#008CBA'>#{Tenant.default_title}</b>"].join(' ').html_safe %>
        </a>
      </h1>
    </li>

    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
  <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider hide-for-small"></li>

      <% if user_signed_in? %>

        <ul class="right">
          <%= current_user && link_to(account_path) do %>
            <%= render_gravatar(current_user, :size=>43) %>
          <% end %>
        </ul>

      <li> <%= link_to "Docs", docs_url, :class=>'highlight' %></li>
      <li> <%= link_to "Questions", questions_url, :class=>'highlight' %></li>
      <li> <%= link_to "Topics", topics_path, :class=>'highlight' %></li>

      <li class="has-dropdown">
        <a href="#" class="highlight">Do Things</a>
        <ul class="dropdown">
          <li> <%= link_to "Ask new question", new_question_url, :class=>'highlight' %></li>
          <li><a href="#" class="highlight">Your Achievements (todo)</a></li>
          <li><a href="#" class="highlight">Your Account (todo)</a></li>
          <% if current_user.admin? %>
            <li class="divider"></li>
            <li><%= link_to "Approve new users", approve_users_path, :class=>'highlight' %></li>
            <li><%= link_to "Admin users", users_path, :class=>'highlight' %></li>
          <% end %>
          <li class="divider"></li>
          <li><a href="#" class="highlight">FAQ (todo)</a></li>
          <li><%= link_to "About TribalKnow &rarr;".html_safe, about_path, :class=>'highlight' %></li>
        </ul>
      </li>
      <li class="divider"></li>

      <li class="has-form">
        <%= form_tag searches_url, :method=>:get do %>
          <div class="row collapse">
            <div class="small-8 columns">
              <%= search_field_tag :q %>
            </div>
            <div class="small-4 columns">
              <%= submit_tag 'Search', :name=>'', :class=>'button' %>
            </div>
          </div>
        <% end %>
        </li>
      <% end %>


      <li class="divider show-for-small"></li>
      <% if current_tenant %>
      <li class="has-form">
        <% if user_signed_in? %>
          <%= link_to "Sign Out #{current_user.name}", destroy_user_session_path, {:method=>:delete, :class=>'button'} %>
        <% else %>
          <%= link_to "Sign in/Sign up", new_user_session_path, {:class=>'button'} %>
        <% end %>
      </li>
      <% end %>
    </ul>

    </ul>

    <!-- Left Nav Section 
    <ul class="left">
      <li><a href="#">Left Nav Button</a></li>
    </ul> -->
  </section>
</nav>

<%= javascript_include_tag "autocomplete" %>
