<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/"><%= [current_tenant && current_tenant.name, "TribalK<span style:'color:red;'>Now</span>"].join(':').html_safe %></a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
  <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider hide-for-small"></li>

      <% if user_signed_in? %>
      <li class="has-dropdown">
        <a href="#">Features</a>
        <ul class="dropdown">
          <li> <%= link_to "Ask new question", new_question_url %></li>
          <li> <%= link_to "Browse Topics", topics_path %></li>
          <li> <%= link_to "Browse Questions", questions_url %></li>
          <li><a href="#">Your Achievements</a></li>
          <li><a href="#">Your Account</a></li>
          <li class="divider"></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">About TribalKnow &rarr;</a></li>
        </ul>
      </li>
      <li class="divider"></li>

      <li class="has-form">
        <%= form_tag searches_url, :method=>:get do %>
          <div class="row collapse">
            <div class="small-8 columns">
              <%= search_field_tag :q %>
            </div>
            <div class="small-4 columns">
              <%= submit_tag 'Search', :name=>'', :class=>'button' %>
            </div>
          </div>
        <% end %>
        </li>
      <% end %>


      <li class="divider show-for-small"></li>
      <% if current_tenant %>
      <li class="has-form">
        <% if user_signed_in? %>
          <%= link_to "Sign Out #{current_user.name}", destroy_user_session_path, {:method=>:delete, :class=>'button'} %>
        <% else %>
          <%= link_to "Sign in/Sign up", new_user_session_path, {:class=>'button'} %>
        <% end %>
      </li>
      <% end %>
    </ul>

    </ul>

    <!-- Left Nav Section 
    <ul class="left">
      <li><a href="#">Left Nav Button</a></li>
    </ul> -->
  </section>
</nav>

