
%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.justify-content-between
  %a.navbar-brand{:href => "/"}= [current_tenant && current_tenant.name, Tenant.default_title].join(' ')
  %button.navbar-toggler{'data-toggle': "collapse", 'data-target': "#navbarSupportedContent", 'aria-controls': "navbarSupportedContent", 'aria-expanded': "false", 'aria-label': "Toggle navigation"}
    %span.navbar-toggler-icon

  - if user_signed_in?
    = form_tag searches_path, :method=>:get, class: 'form-inline' do
      = search_field_tag :q, "", class: 'form-control mr-sm-2'
      = button_tag class: "btn btn-primary" do
        %i.fas.fa-search 
        search

    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto.pr-2
        %li.nav-item= link_to "Topics", topics_path, class:'nav-link'
        %li.nav-item= link_to "Questions", questions_path, class:'nav-link'
        %li.nav-item= link_to "Videos", videos_path, class:'nav-link'
        %li.nav-item= link_to "YARD", docs_path, class:'nav-link'


        - if current_tenant && !@static_render
          - if user_signed_in?
            %li.nav-item.dropdown
              %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#"}
                = render_avatar(current_user, :size=>35)
              .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdownMenuLink"}
                %a.dropdown-item{:href => account_path} #{f_icon 'user-circle'} Settings
                -# %a.dropdown-item{:href => "#"} Another action
                - if current_user && current_user.admin?
                  = link_to "#{f_icon 'crown'} Admin".html_safe, admin_home_index_path, class:'dropdown-item mt-3'
                = link_to "Sign Out", destroy_user_session_path, {:method=>:delete, :class=>'btn btn-info m-3'}
          - else
            = link_to "Sign in/Sign up", new_user_session_path, {:class=>'btn btn-info '}
        
      -# - if user_signed_in? # no user if generating static docs from site
      -#   .nav
      -#     = current_user && link_to(account_path, :class=>'nav_avatar') do
      -#       .navbar-nav.navbar-right.px-1
      -#         %li.avatar
      -#           = render_avatar(current_user, :size=>43)

= javascript_include_tag "autocomplete"

