<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "TribalKnowNow" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/top_nav' %>
    <% if flash.keys.present? %>
      <br/>
      <div class="row">
      <div class="large-2 columns"></div>
      <div class="large-12 columns">
        <%# success warning info %>
        <% if notice %>
          <div class="alert-box success radius"><%= notice %>
            <a href="#" class="close">&times;</a>
          </div>
        <% end %>
        <% if alert %>
          <div data-alert class="alert-box info radius">
            <%= alert %>
            <a href="#" class="close">&times;</a>
          </div>
        <% end %>
        </div>
      <div class="large-2 columns"></div>
      </div>
    <% end %>
    <%#= flash.keys.inspect if flash.keys.present? %>

    <div class="row">
      <div class="large-12 columns" id="content">
        <%= yield %>
      </div>
    </div>


    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
  </body>
</html>
