!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    / Set the viewport width to device width for mobile
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = favicon_link_tag "favicon.ico"
    %title= content_for?(:title) ? yield(:title) : (@page_title || Tenant.default_title)
    = yield(:head_js)
    = stylesheet_link_tag "application"
    = yield(:head_stylesheet)
    = csrf_meta_tags
    = analytics_init if Rails.env.production?
  %body
    = javascript_include_tag "https://www.google.com/jsapi"
    = javascript_include_tag "application", params[:controller]
    = render 'layouts/top_nav'
    - if flash.keys.present?
      .row
        .large-12.columns
          - if notice
            .alert-box.success.radius{"data-alert"=>""}
              = raw notice
              %a.close{:href => "#"}
          - if alert
            .alert-box.info.radius{"data-alert"=>""}
              = raw alert
              %a.close{:href => "#"}
    .row#content{:style=>'padding-top:1.0em;min-height:65%;margin-left:88px;margin-right;88px'}
      .columns.large-12
        = yield
    
    .row#footer
      .row
        .columns.text-center
          - if Tenant.default_footer.presence
            = Tenant.default_footer.html_safe
          - else
            "TribalKnowNow Copyright 2014"
    = yield(:post_body_js)
