!!!
%html{lang: "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
    = favicon_link_tag asset_path('favicon-default/favicon.ico'), rel: 'icon', type: 'image/png'
    %title= content_for?(:title) ? yield(:title) : (@page_title || Tenant.default_title)
    = yield(:head_js)
    = stylesheet_link_tag "application", media: 'all'

    = javascript_pack_tag "application"
    = stylesheet_pack_tag "application"
    = yield(:head_stylesheet)
    = csrf_meta_tags
    = csp_meta_tag
    = analytics_init if Rails.env.production?
  %body
    = javascript_include_tag "https://www.google.com/jsapi"
    = javascript_include_tag "application", params[:controller]
    = render 'layouts/top_nav'
    .container-fluid.page-content
      .row
        .col
          = render 'layouts/flash'
      = yield
    
    .clearfix
    #footer.page-footer.pt-4
      .container.text-center
        = Tenant.default_footer.html_safe if Tenant.default_footer.presence 
        .footer-copyright.py-3 © 2018 Copyright TribalKnowNow

    = yield(:post_body_js)
