

.row
  .columns.large-11
    = simple_form_for @user, :url=>account_path do |f|
      .row
        .center= f.error_notification
        .columns.large-1
          &nbsp;
        .columns.large-4
          %br
          .panel.center#avatar_drop
            = render_avatar(@user)
            %hr
            %instructions
              %a#reset_to_gravatar{href:'#', :style=>"display:#{@user.avatar? ? '' : 'none'}"}
                Click to reset and use your Gravatar
              %div#set_your_avatar{:style=>"display:#{!@user.avatar? ? '' : 'none'}"}
                Click here or drag your own avatar
        .columns.large-6
          = f.input :name, :hint=>"This is the name used in display"
          = f.input :email, :hint=>"Used for your login and notifications"
          = f.input :hipchat_mention_name, :input_html=>{:placeholder=>"@mention"}, :hint=>"Used to notify you in Hipchat"
          %br
          = f.input :password
          = f.input :password_confirmation
      
          %br
          .right
            = f.submit "Update", :class=>"button"


%br
%hr

= @user.inspect
